pyrage/xml/devices.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="network" type="networkType"/>

	<xs:complexType name="networkType">
	<xs:sequence>
		<xs:element name="devices" type="devices" minOccurs="1" maxOccurs="1"/>
		<xs:element name="groups" type="groups" minOccurs="0" maxOccurs="1"/>
		<xs:element name="acls" type="acls" minOccurs="0" maxOccurs="1"/>
		<xs:element name="acls6" type="acls6" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="devices">
		<xs:sequence>
			<xs:element name="device" type="deviceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="groups">
		<xs:sequence>
			<xs:element name="group" type="groupType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="acls">
		<xs:sequence>
			<xs:element name="aclv4" type="aclv4" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="acls6">
		<xs:sequence>
			<xs:element name="aclv6" type="aclv6" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	

	<!-- Group tag definition -->
	<xs:complexType name="groupType">
		<xs:sequence>
		  <xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
		  <xs:element name="aaa_authentication" type="aaa_authentication" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="arp_inspection" type="arp_inspection" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="dhcp_snooping" type="dhcp_snooping" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="dns_host" type="host" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="hsrp_instance" type="hsrp_instance" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="ip_source_guard" type="ip_source_guard" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="ntp" type="ntp" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="snmp" type="snmp" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="syslog" type="syslog" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="urpf" type="urpf" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="vtp" type="vtp" minOccurs="0" maxOccurs="unbounded"/>
		  <xs:element name="vty" type="vty" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	
	<!-- ntp -->
	<xs:complexType name="ntp">
		<xs:sequence>
			<xs:element name="acl_id" type="ntp_acl" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="acl6_id" type="ntp_acl" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="host" type="host" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ntp_acl">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="access" type="ntp_access" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="ntp_access">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="peer"/>
		<xs:enumeration value="server"/>
		<xs:enumeration value="query"/>
		<xs:enumeration value="sync"/>
	  </xs:restriction>
	</xs:simpleType>
	

	<!-- VTY -->
	<xs:complexType name="vty">
		<xs:sequence>
				<xs:element name="acl_id" type="xs:string" minOccurs="0" maxOccurs="1"/>
        		<xs:element name="acl6_id" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="gw" type="ip4" minOccurs="0" maxOccurs="1"/>
				<xs:element name="protocol" type="vtyProtocol" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="vlan" type="vlan" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="vtyProtocol">
		<xs:simpleContent>
			<xs:extension base="vtyProtocolsEnum">
				<xs:attribute name="retries" type="xs:integer"/>
				<xs:attribute name="timeout" type="xs:integer"/>
				<xs:attribute name="version" type="xs:integer"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="vtyProtocolsEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="telnet"/>
			<xs:enumeration value="ssh"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="vlan">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="4094"/>
      </xs:restriction>
	</xs:simpleType>

	
	
	<!-- SYSLOG
	<syslog severity="warning" facility="local7">
		<host id="thingol">147.251.7.17</syslog_server>
	</syslog>
	-->
		
	<xs:complexType name="syslog">
		<xs:sequence>
			<xs:element name="facility" type="syslog_facility" minOccurs="0" maxOccurs="1"/>
			<xs:element name="host" type="host" minOccurs="0" maxOccurs="1"/>
			<xs:element name="severity" type="syslog_severity" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="syslog_facility">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="kern"/>
		<xs:enumeration value="user"/>
		<xs:enumeration value="mail"/>
		<xs:enumeration value="daemon"/>
		<xs:enumeration value="auth"/>
		<xs:enumeration value="syslog"/>
		<xs:enumeration value="lpr"/>
		<xs:enumeration value="news"/>
		<xs:enumeration value="uucp"/>
		<xs:enumeration value="authpriv"/>
		<xs:enumeration value="ftp"/>
		<xs:enumeration value="cron"/>
		<xs:enumeration value="local0"/>
		<xs:enumeration value="local1"/>
		<xs:enumeration value="local2"/>
		<xs:enumeration value="local3"/>
		<xs:enumeration value="local4"/>
		<xs:enumeration value="local5"/>
		<xs:enumeration value="local6"/>
		<xs:enumeration value="local7"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="syslog_severity">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="emergency"/>
		<xs:enumeration value="panic"/>
		<xs:enumeration value="alert"/>
		<xs:enumeration value="critical"/>
		<xs:enumeration value="error"/>
		<xs:enumeration value="warning"/>
		<xs:enumeration value="notice"/>
		<xs:enumeration value="informational"/>
		<xs:enumeration value="debug"/>		
	  </xs:restriction>
	</xs:simpleType>
	
    <!-- VTP
    <vtp>
        <version>2</version>
        <domain>UVT</domain>
        <password>vtp-uvt</password>
        <mode>client</mode>
        could modify element 'mode' in order to support mode off on particular interfaces
        could modify element password to support different methods of password storage in case of vtpv3
    </vtp>
    -->
	<xs:complexType name="vtp">
		<xs:sequence>
			  <xs:element name="domain" type="nonEmptyString" minOccurs="0" maxOccurs="1"/>
			  <xs:element name="mode" type="vtpMode" minOccurs="0" maxOccurs="1"/>
			  <!--<xs:element name="password" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>-->
			  <xs:element name="version" type="vtpVersion" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="vtpVersion">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="vtpMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="client"/>
			<xs:enumeration value="server"/>
			<xs:enumeration value="transparent"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- DHCP SNOOPING
	<dhcp_snooping>
		<trusted_interface>Gi0/1</trusted_interface>
		<trusted_interface>Gi0/2</trusted_interface>
		<vlan_range></vlan_range>
	</dhcp_snooping>
	-->
	<xs:complexType name="dhcp_snooping">
		<xs:sequence>
			<xs:element name="trusted_interface" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="vlan_range" type="vlanRange" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="arp_inspection">
		<xs:sequence>
			<xs:element name="trusted_interface" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="vlan_range" type="vlanRange" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ip_source_guard">
		<xs:sequence>			
			<xs:element name="vlan_range" type="vlanRange" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>	

	<!-- HSRP
	<hsrp_instance id='50'>
			<interface>Vlan110</interface>
			<hello_timer>4</hello>
			<dead_timer>16</dead>
	</hsrp_instance>
	-->
	<xs:complexType name="hsrp_instance">
		<xs:sequence>			
			<xs:element name="dead_timer" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hello_timer" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="interface" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer"/>
	</xs:complexType>	
	
	
	<!-- URPF
	<urpf mode="strict"></urpf>
	-->
	<xs:complexType name="urpf">
		<xs:attribute name="mode" type="urpf_mode"/>
	</xs:complexType>
	
	<xs:simpleType name="urpf_mode">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="strict"/>
		<xs:enumeration value="loose"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<!-- ACLV4
	-->
	<xs:complexType name="aclv4">
		<xs:sequence>
			<xs:element name="name"	type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="number" type="aclv4Number" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="type" type="aclv4Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rule" type="aclv4Rule" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="aclv4Number">
		<xs:simpleContent>
			<xs:extension base="xs:integer">
				<xs:attribute name="id" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="aclv4Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="aclv4Rule">
		<xs:sequence>
			<xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="protocol" type="aclProtocol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="source" type="aclSource" minOccurs="1" maxOccurs="1"/>
			<xs:element name="destination" type="aclDestination"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="action" type="aclAction" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="seq" type="xs:integer"/>
	</xs:complexType>
	
	<xs:complexType name="aclProtocol">
		<xs:simpleContent>
			<xs:extension base="aclProtocol_enum">
				<xs:attribute name="state" type="aclProtocolState_enum"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="aclProtocol_enum">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="ip"/>
		<xs:enumeration value="tcp"/>
		<xs:enumeration value="udp"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="aclProtocolState_enum">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="established"/>
	  </xs:restriction>
	</xs:simpleType>
	
	
	<!-- Maybe create a parent type to inherit from (source,destination)-->
	<xs:complexType name="aclSource">
		<xs:simpleContent>
			<xs:extension base="ip4">
				<xs:attribute name="mask" type="ip4_mask" use="required"/>
				<xs:attribute name="port" type="portNumber"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="aclDestination">
		<xs:simpleContent>
			<xs:extension base="ip4">
				<xs:attribute name="mask" type="ip4_mask" use="required"/>
				<xs:attribute name="port" type="portNumber"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="ip4_mask">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="32"/>
      </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="portNumber">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="65535"/>
      </xs:restriction>		
	</xs:simpleType>
	
	
	<xs:complexType name="aclAction">
		<xs:simpleContent>
			<xs:extension base="aclAction_enum">
				<xs:attribute name="log" type="xs:boolean"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="aclAction_enum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="deny"/>
			<xs:enumeration value="permit"/>			
		</xs:restriction>
	</xs:simpleType>

    <!-- ACLv6
	-->
	<xs:complexType name="aclv6">
		<xs:sequence>
			<xs:element name="name"	type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rule" type="aclv6Rule" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="aclv6Rule">
		<xs:sequence>
			<xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="protocol" type="aclv6Protocol" minOccurs="0" maxOccurs="1"/>
			<xs:element name="source" type="aclv6Source" minOccurs="1" maxOccurs="1"/>
			<xs:element name="destination" type="aclv6Destination"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="action" type="aclAction" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="seq" type="xs:integer"/>
	</xs:complexType>
	
	<xs:complexType name="aclv6Protocol">
		<xs:simpleContent>
			<xs:extension base="aclv6Protocol_enum">
				<xs:attribute name="state" type="aclProtocolState_enum"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="aclv6Protocol_enum">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="ipv6"/>
		<xs:enumeration value="tcp"/>
		<xs:enumeration value="udp"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="aclv6Source">
		<xs:simpleContent>
			<xs:extension base="ip6">
				<xs:attribute name="mask" type="ip6_mask" use="required"/>
				<xs:attribute name="port" type="portNumber"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="aclv6Destination">
		<xs:simpleContent>
			<xs:extension base="ip6">
				<xs:attribute name="mask" type="ip6_mask" use="required"/>
				<xs:attribute name="port" type="portNumber"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="ip6_mask">
      <xs:restriction base="xs:integer">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="128"/>
      </xs:restriction>
	</xs:simpleType>
	
	<!--
	SNMP
	-->
	<xs:complexType name="snmp">
		<xs:sequence>
			<xs:element name="community" type="snmpCommunity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="group" type="snmpGroup" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="groupv3" type="snmpGroupv3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="trap" type="snmp_trap" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="trap_host" type="snmp_trapHost" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="trap_host_v3" type="snmpv3_trapHost" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="user" type="snmp_user" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="view" type="snmp_view" minOccurs="0" maxOccurs="unbounded"/>			
		</xs:sequence>
	</xs:complexType>
	

	<xs:complexType name="snmpCommunity">
		<xs:simpleContent>
		  	<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string" use="required"/>
				<xs:attribute name="version" type="snmpCommunityVersionType" use="required"/>
				<xs:attribute name="privilege" type="snmpCommunityPrivilege" use="required"/>
				<xs:attribute name="acl_id" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>		
	</xs:complexType>
	
	<xs:simpleType name="snmpCommunityVersionType">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="1"/>
		<xs:enumeration value="2c"/>
	  </xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="snmp_ValidVersionType">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="1"/>
		<xs:enumeration value="2c"/>
		<xs:enumeration value="3"/>
	  </xs:restriction>
	</xs:simpleType>	
	
	
	<xs:simpleType name="snmpCommunityPrivilege">
	 <xs:restriction base="xs:string">
		<xs:enumeration value="read-only"/>
		<xs:enumeration value="read-write"/>
	  </xs:restriction>
	</xs:simpleType>
	

	<xs:complexType name="snmpGroup">
		<xs:sequence>
			<xs:element name="_view" type="groupAssociatedView" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>		
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="secModel" type="snmp_groupSecModel" use="required"/>
		<xs:attribute name="acl" type="xs:string"/>
	</xs:complexType>
		
	<xs:complexType name="snmpGroupv3">
		<xs:sequence>
			<xs:element name="_view" type="groupAssociatedView" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>		
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="secLevel" type="snmp_SecLevel" use="required"/>
		<xs:attribute name="acl" type="xs:string"/>
	</xs:complexType>
	
	<xs:simpleType name="snmp_SecLevel">
	 <xs:restriction base="xs:string">
		<xs:enumeration value="noAuth"/>
		<xs:enumeration value="auth"/>
		<xs:enumeration value="priv"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="snmp_groupSecModel">
	 <xs:restriction base="xs:string">
		<xs:enumeration value="1"/>
		<xs:enumeration value="2c"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="groupAssociatedView">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="snmpView_type" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="snmpView_type">
	 <xs:restriction base="xs:string">
		<xs:enumeration value="read"/>
		<xs:enumeration value="write"/>
		<!-- not implemented yet -->
		<xs:enumeration value="notify"/>
	  </xs:restriction>
	</xs:simpleType>

	<xs:complexType name="snmp_trapHost">
		<xs:simpleContent>
			<xs:extension base="ip4">
				<xs:attribute name="id" type="xs:string" use="required"/>
				<xs:attribute name="version" type="snmp_ValidVersionType" use="required"/>
				<xs:attribute name="tags" type="xs:string" use="required"/>
				<xs:attribute name="community" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="snmpv3_trapHost">
		<xs:simpleContent>
			<xs:extension base="ip4">
				<xs:attribute name="id" type="xs:string" use="required"/>
				<xs:attribute name="secLevel" type="snmp_SecLevel" use="required"/>
				<xs:attribute name="tags" type="xs:string" use="required"/>
				<xs:attribute name="user" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="snmp_trap">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="tags" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	

	<xs:complexType name="snmp_view">
		<xs:sequence>
			<xs:element name="tree" type="snmp_viewTree" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="snmp_viewTree">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="snmp_viewTreeType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="snmp_viewTreeType">
	 <xs:restriction base="xs:string">
		<xs:enumeration value="included"/>
		<xs:enumeration value="excluded"/>
	  </xs:restriction>
	</xs:simpleType>
	

	<xs:complexType name="snmp_user">
		<xs:sequence>
			<xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="auth" type="snmp_userAuthParams" minOccurs="0" maxOccurs="1"/>
			<xs:element name="priv" type="snmp_userPrivParams" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="group" type="xs:string"/>
		<xs:attribute name="acl" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="snmp_userAuthParams">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<!--  encrypted  specifying passwords as MD5 or SHA digests -->
				<xs:attribute name="encrypted" type="xs:boolean" use="required"/>
				<xs:attribute name="type" type="snmp_userAuthCipherType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="snmp_userAuthCipherType">
	 <xs:restriction base="xs:string">
		<xs:enumeration value="md5"/>
		<xs:enumeration value="sha"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="snmp_userPrivParams">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<!--  encrypted  specifying passwords as MD5 or SHA digests -->
				<xs:attribute name="encrypted" type="xs:boolean" use="required"/>
				<xs:attribute name="type" type="snmp_userPrivCipherType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="snmp_userPrivCipherType">
	 <xs:restriction base="xs:string">
		<xs:enumeration value="des"/>
		<xs:enumeration value="3des"/>
		<xs:enumeration value="aes128"/>
		<xs:enumeration value="aes192"/>
		<xs:enumeration value="aes256"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<!-- AAA AUTHENTICATION -->
	<xs:complexType name="aaa_authentication">
		<xs:sequence>
			<xs:element name="aaa_group" type="aaa_group" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="aaa_host" type="aaa_host" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="aaa_method_list" type="aaa_methodList" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="aaa_group">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string" use="required"/>
				<xs:attribute name="type" type="aaa_typeEnum" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="aaa_typeEnum">
	 <xs:restriction base="xs:string">
		<xs:enumeration value="tacacs"/>
		<xs:enumeration value="radius"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="aaa_host">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string" use="required"/>
				<xs:attribute name="group" type="xs:string" use="required"/>
				<xs:attribute name="type" type="aaa_typeEnum" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="aaa_methodList">
		<xs:sequence>
			<xs:element name="type" type="aaa_methodType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="method" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>	
	
	<xs:complexType name="aaa_methodType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>	
		
	</xs:complexType>
	
	<!-- COMMON DATA TYPES -->
	<xs:simpleType name="vlanRange">
		<xs:restriction base="xs:string">
			<xs:pattern value="((\d+)(,\d+)*-(\d+)(,\d+)*)(,((\d+)(,\d+)*-(\d+)(,\d+)*))*|(\d+)(,\d+)*"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ip4">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([0-1]?[0-9]?[0-9]|2?[0-5]?[0-5])\.){3}([0-1]?[0-9]?[0-9]|2?[0-5]?[0-5])"/>
        </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ip6">
		<xs:restriction base="xs:string">
		<xs:pattern value="(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]).){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]).){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ip">
		<xs:restriction base="xs:string">
		<xs:pattern value="(([0-9a-fA-F]{1,4}:){6})
				(([0-9a-fA-F]{1,4}:[0-9a-fA-F]{1,4})|
				([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))|
				(([0-1]?[0-9]?[0-9]|2?[0-5]?[0-5])\.){3}
                     ([0-1]?[0-9]?[0-9]|2?[0-5]?[0-5])"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<!-- in many cases, host could be also specified by fqdn, in order for the 
		service to be running even when DNS servers are done, 
		we shall use IP addresses in every such case --> 
	<xs:complexType name="host">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
        <!-- Device scope -->
	<xs:complexType name="deviceType">
	<xs:sequence>
	  <xs:element name="fqdn" type="nonEmptyString"/>
	  <xs:element name="snmp" type="snmp" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="users" type="usersType" minOccurs="0"/>
	  <xs:element name="filename" type="nonEmptyString"/>
	  <xs:element name="cfgpath" type="nonEmptyString" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="vendor" type="vendorType"/>
	  <xs:element name="type" type="xs:string"/>
	  <xs:element name="l2" type="xs:boolean"/>
	  <xs:element name="l3" type="xs:boolean"/>
	  <xs:element name="ipv6" type="xs:boolean"/>
	  <xs:element name="vlanbackup" type="xs:boolean"/>
	  <xs:element name="vlanfile" type="nonEmptyString" minOccurs="0" maxOccurs ="1"/>
	  <!-- overrides group attributes -->
	  <xs:element name="aaa_authentication" type="aaa_authentication" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="arp_inspection" type="arp_inspection" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="dhcp_snooping" type="dhcp_snooping" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="dns_host" type="host" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="hsrp_instance" type="hsrp_instance" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="ip_source_guard" type="ip_source_guard" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="ntp" type="ntp" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="snmp" type="snmp" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="syslog" type="syslog" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="urpf" type="urpf" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="vtp" type="vtp" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="vty" type="vty" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
		<xs:attribute name="groups" type="xs:string"/>
	</xs:complexType>
	

	<xs:complexType name="usersType">
	<xs:sequence>
	  <xs:element name="loguser" type="xs:string"/>
	  <xs:element name="logpassword" type="xs:string"/>
	  <xs:element name="enuser" type="xs:string"/>
	  <xs:element name="enpassword" type="xs:string"/>
	</xs:sequence>
	</xs:complexType>
	
	
    <!-- VENDORS -->
	<xs:simpleType name="vendorType">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="cisco"/>
		<xs:enumeration value="hp"/>
		<xs:enumeration value="3com"/>
		<xs:enumeration value="h3c"/>
		<xs:enumeration value="enterasys"/>
		<xs:enumeration value="juniper"/>
		<xs:enumeration value="pix"/>
	<xs:enumeration value="mikrotik"/>
	<xs:enumeration value="openwrt" />
	<xs:enumeration value="ubnt" />
	  </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nonEmptyString">
	<xs:restriction base="xs:string">
	  <xs:minLength value="1" />
	</xs:restriction>
	</xs:simpleType>

</xs:schema>

